<% wrap_layout :layout do %>
  <header class="post-header">
    <h1 class="post-title"><%= current_page.data.title %></h1>
    <div class="post-meta">Posted on <%= current_page.date.strftime('%Y %b %-d') %></div>
  </header>
  <%= yield %>
<% end %>
